@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html,
body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 170%;
  color: white;
  background-color: rgb(15, 90, 160);
  font-weight: 300;
}
h1 {
  font-family: "Roboto";
  margin: 0;
  padding: 50px;
  font-size: 140%;
  text-align: center;
}

#Links{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 100%;
  gap: 10px;
  background-color: rgb(78, 155, 181);
  position: relative;
}
#Links a{
  text-decoration: none;
}
#Links a img{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
  height: 50px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

#Links a img:hover{
  transform: scale(1.05);
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

#Links button {
  transition: transform 0.3s ease;
  border-radius: 12px;
  background-color: rgb(240, 160, 120); 
  border: none;
  color: white;
  font-size: 50%;
  padding: 10px 40px;
  position: absolute;
  left: 15px;
  top: 15px; 
  transform: scale(1);
  transform-origin: center; 
}

#Links button:hover{
  transform: scale(1.05);
}

#About{
  font-size: 50%;
  width: 80%;
  text-align: center;
  padding-left: 10%;
}
#About a,
#robotics a{
  color: rgb(250, 210, 140); 
  text-decoration: none;
}

#About a:hover,
#robotics a:hover{
  text-decoration: underline;
}

#About a:visited,
#robotics a:visited{
  color: rgb(250, 210, 140);
}
ul{
  display: inline-block;
  list-style-type: circle;
  padding: 5px;
  font-family: "Roboto";
  text-align: left;
}

#Titles{
  display: flex;
  text-align: center;
}

#Titles h1{
  text-align: center;
  font-size: 60%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#Buttons{
  margin-top: 60px;
  display: flex;
  text-align: center;
}
#Buttons button{
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.3s ease;
  border-radius: 12px;
  width: 350px;
  height: 110px;
  background-color: rgb(78, 155, 181);
  border: none;
  color: white;
  font-size: 70%;
  text-align: center;
  padding: 0;
}
#Buttons button:hover{
  transform: scale(1.05);
}
#Projects,
#Experience{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

#nokia,
#robotics{
  width: 80%;
  font-size: 30%;
  margin: 20px auto;
  display: flex;
  border-radius: 10px;
  border-color: rgb(240, 160, 120);
  border-width: 2px;
  border-style: solid;
}
.left{
  width: 50%;
  justify-content: center;
  text-align: center;
  margin: 0
}
.banner{
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
#robotics p,
#nokia p{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  margin-top: 30px;
}
#robotics ul,
#nokia ul{
  width: 50%;
  margin-right: 20px;
}
#robotics li{
  margin-bottom: 15px;
}

.project{
  width: 80%;
  font-size: 30%;
  margin: 20px auto;
  display: flex;
  border-radius: 10px;
  border-color: rgb(240, 160, 120);
  border-width: 2px;
  border-style: solid;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.project h1{
  padding: 40px;
}
.project:hover{
  transform: scale(1.025);
  background-color: rgb(29, 105, 176);
}

/*
#Projects button,
#Experience button{
  transition: transform 0.3s ease;
  border-radius: 12px;
  width: 220px;
  height: 75px;
  background-color: rgb(78, 155, 181);
  border: none;
  color: white;
  font-size: 40%;
  text-align: center;
  padding: 0;
}

#Projects button:hover,
#Experience button:hover{
  transform: scale(1.05);
}
*/