@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html,
body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 170%;
  background-color: #ffffff;
  /*text-align: center;*/
  font-weight: 300;
}
h1 {
  font-family: "Roboto";
  margin: 0;
  padding: 50px;
  font-size: 140%;
  text-align: center;
}
#Links{
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  font-size: 70%;
  gap: 10px;
  background: gray;
}
#Links a img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px;
}
#About{
  font-size: 50%;
  width: 80%;
  text-align: center;
  padding-left: 10%;
}
ul{
  display: inline-block;
  list-style-type: circle;
  padding: 5px;
  font-family: "Roboto";
  text-align: left;
}
#Titles{
  display: flex;
  text-align: center;
}
#Titles h1{
  text-align: center;
  font-size: 60%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}
#Buttons{
  display: flex;
  width: 100%;
  font-size: 60%
}
#Projects,
#Experience{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
#Projects button,
#Experience button{
  background-color: rgb(113, 196, 113);
  border: none;
  color: white;
  font-size: 50%;
  text-align: center;
  padding: 15px 40px;
}